<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey - Submitted</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="inner-contents">
        <h1>Submitted Info</h1>
        <ul>
          <li>Name: <i><%= user.name %></i></li>
          <li>Dojo Location: <i><%= user.location %></i></li>
          <li>Favorite Language: <i><%= user.language %></i></li>
          <li>Comment: <i><%= user.comments %></i></li>
        </ul>
      </div>
    </p>
  </body>
</html>
