<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QuotingDojo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 </head>
  <body>
    <h1>Welcome to QuotingDojo</h1>

    <form action="/add-quote" method="POST">
        <h3>Your Name: </h3> <input type="text" name="name">
        <h3>Your Quote: </h3> <input type="text" name="quote"><br>
        <input type="submit" value="Add My Quote!" name="submit" class="btn-success">
    </form>
    <br>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
            <h3><%= errors[x].message %></h3>
            <% } %>
        <% } %>
        <a href="/quotes"><button class="btn-default">Skip to Quotes!</button></a>
  </body>
</html>